/* Target iPhone screen sizes */
@media screen and (max-width: 768px) {
  .main-news {
    display: none;
    padding: 1rem;

    & .news-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    & h2 {
      font-size: 1.2rem;
    }

    & ul {
      list-style: none;
      font-size: 14px;
    }

  }
}

/* Styles for iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-news {
    padding: 1rem;

    & .news-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & .news-header {
      align-self: center
    }

    & .description-header {
      align-self: center;
    }

    & ul {
      list-style: none;
    }
  }
}

/* For desktops and laptops */
.main-news {
  background: #e2e8f0;
  flex: 0 1 60%;

  & .news-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  & .news-header {
    align-self: center
  }

  & .description-header {
    align-self: center;
  }

  & h2 {
    font-size: 1.8rem;
  }

  & ul {
    list-style: none;
    font-size: 1.2rem;
  }
}