:root {
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
  --color-red: #f00;
  --color-green: #0f0;
  --color-blue: #00f;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template: repeat(1, 1fr 5fr 1fr) / repeat(3, 1fr);
  grid-template-areas:  "header header header"
                        "sidebar-left main-content sidebar-right"
                        "footer footer footer";
  
  height: 100vh;
  & header {
    background: var(--color-red);
    grid-column: 1 / 4;
  }

  & main {
    background: var(--color-green);
    grid-column: 1 / 4;

    display: grid;
    grid-template: repeat(1, 1fr) / repeat(1, 1fr 4fr 1fr);

    & .sidebar.left {
      background: var(--color-red);
    }

    & .main-content {
      background: var(--color-green);
    }

    & .sidebar.right {
      background: var(--color-blue);
    }
  }

  & footer {
    background: var(--color-blue);
    grid-column: 1 / 4;
  }
}