:root {
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
  --color-red: #f00;
  --color-green: #0f0;
  --color-blue: #00f;
  --spacing-padding: 1rem;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template: repeat(1, 1fr 6fr 1fr) / repeat(3, 1fr);
  grid-template-areas:  "header header header"
                        "sidebar-left main-content sidebar-right"
                        "footer footer footer";  
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(0.8rem, 1rem, 1.2rem);

  & a {
    cursor: pointer;
  }
}

& header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / 4;
  padding: var(--spacing-padding);

  & .logo {
    width: clamp(160px, 10vw, 12vw);
    display: flex;
    align-items: center;
  }

  & .logo > img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  & .hamburger-menu {
    display: none;
  }

  & .nav {
    width: clamp(300px, 20vw, 22vw);
    padding: var(--spacing-padding);
  }

  & .nav ul {
    display: flex;
    justify-content: space-between;
  }

  & .nav .cancel {
    display: none;
  }

  & a:hover {
    color: #615f5f;
    text-decoration: underline;
  }
}

main {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2),
  0 5px 10px rgba(0, 0, 0, 0.2);
  grid-column: 1 / 4;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, clamp(160px, 14vw, 16vw) 4fr clamp(200px, 18vw, 20vw));

  & p {
    text-indent: 1rem; 
  }

  & .home {
    display: flex;
    width: 100vw;
  }

  & .sidebar.left {
    background: #1992d4;
    padding: var(--spacing-padding);
    color: #f3f3f3;
    gap: 1rem;
    flex: 0 1 20%;
  }

  & .sidebar.left .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  & .main-content {
    background: #e2e8f0;
    padding: var(--spacing-padding);
    flex: 0 1 60%;
  }

  & .contact {
    display: none;
    width: 100vw;
  }

  & .contact > .sidebar.left, .contact > .sidebar.right {
    flex: 0 1 20%;
  }

  & .contact > .contact-methods-container {
    background: #e2e8f0;
    flex: 0 1 60%;
    padding: var(--spacing-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .contact > .contact-methods-container > h2 {
    margin-bottom: 1rem;
  }

  & .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .services > h2 {
    margin-bottom: 1rem;
  }

  & .services-container {
    display: grid;
    grid-template-columns: repeat(2, clamp(360px, 20vw, 25vw));
    gap: 1rem;
    justify-items: center;
  }

  & .service-card {
    border: none solid #000;
    padding: var(--spacing-padding);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  & .service-card img {
    width: clamp(300px, 20vw, 20vw);
    height: 200px;
  }

  & .service-card ul {
    margin-left: 1rem;
  }
  
  & .contact > h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  & .contact-methods-container ul {
    display: flex;
    flex-direction: column;
  }

  & .about {
    display: none;
    width: 100vw;
    padding: 1rem;
    background: #e2e8f0;
  }

  & .about .about-content {
    flex: 0 1 60%;
    padding: var(--spacing-padding);
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  & .about-content > h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  & .about .intro {
    margin-bottom: 1rem;
  }

  & .about .mission {
    margin-bottom: 1rem;
  }

  & .about .courses {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > .main-news {
    display: none;
    background: #e2e8f0;
    width: 100vw;
  }

  & > .main-news .news-content {
    flex: 0 1 60%;
    padding: var(--spacing-padding);
    display: flex;
    justify-content: center;
  }

  & > .news .internship {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  & > .news > .sidebar.left, > .news > .sidebar.right {
    flex: 0 1 20%;
  }

  & .sidebar.right {
    background: #e2e8f0;
    padding: var(--spacing-padding);
    flex: 0 1 20%;
    border-left: 1px solid #fff;
  }

  & .sidebar.right .sidebar-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  & .sidebar.right .internship {
    background: #fff;
    border-radius: var(--border-radius);
    margin: 0 auto;
    width: 98%;
    padding: var(--spacing-padding);
  }

  & .sidebar.right .internship p{
    font-size: 14px;
  }
}

footer {
  grid-column: 1 / 4;
  padding: var(--spacing-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .social-medias {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  & .social-medias > a > img {
    width: 40px;
  }
}

/* Styles for iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    font-size: 24px;
  }

  header {

    & .nav {
      width: 60vw;
    }

    & .nav ul .news {
      display: block;
      padding: 0;
    }

    & .hamburger-menu {
      display: none;
    }
  }

  main {

    & .main-content {
      flex: 1;
    }

    & .services-container {
      grid-template-columns: repeat(1, clamp(560px, 24vw, 24vw));
    }

    & .sidebar.left {
      display: none;
    }

    & .sidebar.right {
      display: none;
    }

    & .contact > .contact-methods-container {
      flex: 0 1 100%;
    }

    & .about .about-content {
      flex: 0 1 100%;
    }

    & > .main-news .news-content {
      flex: 0 1 100%;
    }
  }
}

/* Target iPhone screen sizes */
@media screen and (max-width: 768px) { /* Covers most iPhones */
  .container {
    font-size: 16px;
  }

  header {
    position: relative;
  
    & .logo {
      width: 30%;  
    }

    & .logo img {
      width: 160px;
      height: auto;
    }

    & .hamburger-menu {
      display: block;
    }

    & .nav {
      display: none;
      height: auto;
      font-size: 18px;
      position: absolute;
      top: 56px;
      right: 6px;
      background: #fff;
      padding: var(--spacing-padding);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: var(--border-radius);
      width: 160px;
    }

    & .nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    & .nav ul .news {
      display: block;
      padding: 0;
    }

    & .nav .cancel {
      display: block;
      width: 40px;
      justify-self: flex-end;
    }

    & .hamburger-menu {
      display: block;
    }
  }

  main {

    & .sidebar.left {
      display: none;
    }

    & .main-content {
      flex: 1;
    }

    & .main-content .services-container {
      grid-template-columns: repeat(1, clamp(360px, 24vw, 24vw));
    }

    & .services {
      display: flex;
      justify-content: center;
    }

    & .sidebar.right {
      display: none;
    }

    & .contact > .contact-methods-container {
      flex: 0 1 100%;
    }

    & .about .about-content {
      flex: 0 1 100%;
    }

    & > .main-news .news-content {
      flex: 0 1 100%;
      padding: 0;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .social-medias {
      align-self: flex-start;
    }
  }
}
