/* Target iPhone screen sizes */
@media screen and (max-width: 768px) {
  .why-no-jobs {
    display: none;
    padding: 1rem;

    & .why-no-jobs-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

/* Styles for iPads */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .why-no-jobs {
    display: none;
    padding: 1rem;

    & .why-no-jobs-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}

/* For desktops and laptops */
.why-no-jobs {
  display: none;
  width: 100vw;
  background: #e2e8f0;

  & .sidebar.left, .sidebar.right {
    flex: 0 1 20%;
  }

  & .why-no-jobs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 0 1 60%;
    padding: 1rem;
  }
}